$accentColor = #fa4694
$badgeTipColor = #fa4694

.theme-mode-light
  --bodyBg: #ffffff
  --textColor: #050505
  --textLightenColor: #242424

.theme-mode-dark
  --bodyBg: #1d1d1d
  --mainBg: #1d1d1d
  --textColor: #fafafa
  --textLightenColor: #dedede
  --blurBg: rgba(48,48,48,.8)

.theme-mode-read
  --bodyBg: rgba(245,245,213,1)
  --mainBg: rgba(245,245,213,1)