$accentColor = #fa4694
$badgeTipColor = #fa4694

.theme-mode-light
  --textColor: #050505
  --textLightenColor: #242424
  --codeBg: #242424
  --codeColor: #fff
  codeThemeDark()


.theme-mode-dark
  --bodyBg: #1d1d1d
  --mainBg: #212121
  --textColor: #fafafa
  --textLightenColor: #dedede
  --blurBg: rgba(48,48,48,.8)

.theme-mode-read
  --mainBg: rgba(245,245,213,1)
  --codeBg: #282c34
  --codeColor: #fff
  codeThemeDark()
